.container{
	margin: auto;
	text-align: center;
	width: 80%;
}
#juego{
	background-color: #000;
	height: 500px;
	margin: auto;
	width: 500px;
	padding: 5px;
}
.pieza{
	background-color: #fff;
	border-radius: 2%;
	float: left;
	height:calc(50% - 2 * 3px);
	margin: 3px;
	width:calc(50% - 2 * 3px);

}
.sub_container{
	float: left;
	height:calc(50% - 2 * 0px);
	margin: 0px;
	width:calc(50% - 2 * 0px);
}
.rojo{
	background-color: red;
}