<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cube click - Game test</title>
	<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<script id="subitem-template" type="text/x-template">
	<div v-bind:class="{red: item.active, sub_container: item.sub_container, item: !item.sub_container}" v-on:click.stop="onClick(item)">
		<subitem v-for="child in item.childs" v-bind:item="child" @callback="onClick"></subitem>
	</div>
</script>
<body>
	<div id="app">
			<div class="container">
				<h1>Cubeclick</h1>
				<div class="counter">
					Points: {{points}}
				</div>
				<div class="game-container">
					<div class="game">
						<div @click.stop="selectParent(item)" v-for="(item, index) in initial" v-bind:class="{red: item.active, sub_container: item.sub_container, item: !item.sub_container}">
							<subitem v-for="child in item.childs" v-bind:item="child" @callback="selectParent"></subitem>
						</div>
					</div>
					<div class="history">
						<h3>History</h3>
						<ul>
							<li v-for="item in history">{{item.points}}</li>
						</ul>
					</div>
				</div>
			</div>
	</div>
	<script src="js/cubeclick.js"></script>
</body>
</html>
